# environment variables
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store

# Python cache files
__pycache__/
*.pyc

# PyCharm IDE files
.idea/

# task storage files
tasks.json

# local test files
test_client.py
